.businessbody3 {
    width: 1903px;
    height: 3231px;
    background-color: #f0f0f0;
}

/*****************************************************************/

.lsrmainimg3{
    width: 1903px;
    height: 350px;
    background-color: white;
}

.lsrmainimg3 img {
    margin-top: 4px;
}

/*****************************************************************/

.lsrtext3{
    width: 1903px;
    height: 75px;
    background-color: #f0f0f0;
}

.lsrtext3 h1 {
    margin: 0px;
    margin-left: 850px;
    line-height: 70px;
    font-size: 20px;
}

/*****************************************************************/

.lsrcontentsimg3 {
    width: 960px;
    height: 2776px;
    background-color: #f0f0f0;
    margin-left: 471.5px;
}

/*****************************************************************/

.lsrfooterbar3 {
    width: 1903px;
    height: 30px;
    background-color: #f0f0f0;
}

/*****************************************************************/