.businessbody4 {
    width: 1903px;
    height: 2519px;
    background-color: #f0f0f0;
}

/*****************************************************************/

.lsrmainimg4{
    width: 1903px;
    height: 350px;
    background-color: white;
}

.lsrmainimg4 img {
    margin-top: 4px;
}

/*****************************************************************/

.lsrtext4{
    width: 1903px;
    height: 75px;
    background-color: #f0f0f0;
}

.lsrtext4 h1 {
    margin: 0px;
    margin-left: 850px;
    line-height: 70px;
    font-size: 20px;
}

/*****************************************************************/

.lsrcontentsimg4 {
    width: 960px;
    height: 2064px;
    background-color: #f4f4f4;
    margin-left: 471.5px;
}

.processingtopimg img{
    width: 960px;
    height: 143px;
}

.businesscontents {
    width: 960px;
    height: 1921px;
}

.businesscontentsbox1 {
    width: 67px;
    height: 212px;
    background-color: #f4f4f4;
    float: left;
}

.businesscontentsbox2 {
    width: 277px;
    height: 212px;
    float: left;
}

.businesscontentsbox3 {
    width: 8px;
    height: 212px;
    background-color: #f4f4f4;
    float: left;
}

.businesscontentsbox4 {
    width: 277px;
    height: 212px;
    float: left;
}

.businesscontentsbox5 {
    width: 331px;
    height: 212px;
    background-color: #f4f4f4;
    float: left;
}

.businesscontentsbox6{
    width: 960px;
    height: 14px;
    background-color: #f4f4f4;
    float: left;
}

.businesscontentsbox7 {
    width: 960px;
    height: 143px;
    background-color: white;
    float: left;
}

.businesscontentsbox8 {
    width: 960px;
    height: 225px;
    background-color: white;
    float: left;
}

.contentsbox1 {
    width: 56px;
    height: 170px;
    background-color: white;
    float: left;
}

.contentsbox {
    width: 206px;
    height: 170px;
    background-color: white;
    float: left;
}

.contentsbox2{
    width: 8px;
    height: 170px;
    background-color: white;
    float: left;
}
/*****************************************************************/

.lsrfooterbar4 {
    width: 1903px;
    height: 30px;
    background-color: #f0f0f0;
}

/*****************************************************************/