.introducebody4{
    width: 1903px;
    height: 1000px;
    background-color: #f0f0f0;
}

/*****************************************************************/

.introduceimg{
    width: 1903px;
    height: 350px;
    background-color: white;
}

.introduceimg img{
    margin-top: 5px;
}

/*****************************************************************/

.introduce1{
    width: 1903px;
    height: 75px;
    background-color: #f0f0f0;
}

.introduce1 h1{
    margin: 0px;
    margin-left: 900px;
    line-height: 70px;
    font-size: 20px;
}

/*****************************************************************/

.lsrbar{
    width: 960px;
    height: 20px;
    margin-left: 471.5px;
}

.lsrmenu{
    width: 960px;
    height: 49px;
    margin-left: 471.5px;
}

/*****************************************************************/

.lsrmenu1 {
    width: 960px;
    height: 40px;
    background-color: gainsboro;
    margin-left: 471.5px;
}

.lsrmenu1-1 {
    width: 66px;
    height: 40px;
    background-color: #f0f0f0;
    float: left;
}

.lsrmenu1-2 {
    width: 123px;
    height: 40px;
    background-color: #f0f0f0;
    float: left;
}

.lsrmenu1-2 img{
    width: 123px;
    height: 40px;
}

/*****************************************************************/

.lsrmenu2 {
    width: 960px;
    height: 40px;
    background-color: gainsboro;
    margin-left: 471.5px;
}

.lsrmenu2-1{
    width: 66px;
    height: 40px;
    background-color: #f0f0f0;
    float: left;
}

.lsrmenu2-2 img{
    width: 123px;
    height: 40px;
    float: left;
}

/*****************************************************************/

.lsrmenu3{
    width: 960px;
    height: 40px;
    background-color: gainsboro;
    margin-left: 471.5px;
}

.lsrmenu3-1{
    width: 66px;
    height: 40px;
    background-color: #f0f0f0;
    float: left;
}

.lsrmenu3-2 img{
    width: 123px;
    height: 40px;
    float: left;
}

/*****************************************************************/

.lsrmenu4{
    width: 960px;
    height: 40px;
    background-color: gainsboro;
    margin-left: 471.5px;
}

.lsrmenu4-1{
    width: 66px;
    height: 40px;
    background-color: #f0f0f0;
    float: left;
}

.lsrmenu4-2 img{
    width: 123px;
    height: 40px;
    float: left;
}

/*****************************************************************/

.lsrmenuimg2{
    width: 960px;
    height: 81px;
    margin-left: 471.5px;
}


/*****************************************************************/

.lsrmenu5{
    width: 960px;
    height: 40px;
    background-color: gainsboro;
    margin-left: 471.5px;
}

.lsrmenu5-1{
    width: 66px;
    height: 40px;
    background-color: #f0f0f0;
    float: left;
}

.lsrmenu5-2 img{
    width: 123px;
    height: 40px;
    float: left;
}



/*****************************************************************/

.lsrfootimg {
    width: 960px;
    height: 108px;
    margin-left: 471.5px;
}


/*****************************************************************/






















