.introducebody1{
    width: 1903px;
    height: 1042px;
    background-color: #f0f0f0;
}

/*****************************************************************/

.introduceimg{
    width: 1903px;
    height: 350px;
    background-color: white;
}

.introduceimg img{
    margin-top: 5px;
}

/*****************************************************************/

.introduce1{
    width: 1903px;
    height: 75px;
    background-color: #f0f0f0;
}

.introduce1 h1{
    margin: 0px;
    margin-left: 900px;
    line-height: 70px;
    font-size: 20px;
}


/*****************************************************************/

.introduce2{
    width: 1903px;
    height: 587px;
    background-color: #f0f0f0;
}

.introduce2 img{
    margin-left: 471.5px;
}


/*****************************************************************/

.introduce3{
    width: 1903px;
    height: 30px;
    background-color: #f0f0f0;
}


/*****************************************************************/