.introducelsr1body {
    width: 1903px;
    height: 3198px;
    background-color: #f0f0f0;
}

/*****************************************************************/

.introducelsr1menuimg{
    width: 1903px;
    height: 350px;
    background-color: white;
}

.introducelsr1menuimg img {
    margin-top: 4px;
}

/*****************************************************************/

.introducelsr1txt{
    width: 1903px;
    height: 75px;
    background-color: #f0f0f0;
}

.introducelsr1txt h1 {
    margin: 0px;
    margin-left: 850px;
    line-height: 70px;
    font-size: 20px;
}

/*****************************************************************/

.introducelsr1box {
    width: 960px;
    height: 1938px;
    margin-left: 471.5px;
    background-color: #f0f0f0;
}

.introducelsr1btnbox {
    width: 960px;
    height: 60px;
    background-color: #f0f0f0;
}
/*****************************************************************/

.introducelsrbtnbox {
    width: 960px;
    height: 60px;
    background-color: #f0f0f0;
}

.lsrlicobar {
    width: 960px;
    height: 127px;
    float: left;
}

.lsrlicobar1 img{
    width: 280px;
    height: 220px;
    float: left;
}

.lsrlicobar2 {
    width: 400px;
    height: 220px;
    float: left;
    background-color: #f7f7f7;
}
/*****************************************************************/

.loginbtm{
    width: 800px;
    height: 300px;
    background-color: #f0f0f0;
}

.loginButton1 {
    margin-top: 15px;
    height: 32px;
    width: 140px;
    font: inherit; 
    padding: 2px 4px; 
    background-color: #eaeaea; 
    border-width: 2px; border-style: solid; 
    border-color: #f4f4f4 #a3a3a3 #a3a3a3 #f4f4f4; 

    -webkit-border-radius: 3px; 
       -moz-border-radius: 3px; 
            border-radius: 3px;
} 
.loginButton1:hover {  background-color: #d2e3f4;  }
.loginButton1:active {  border-color: #a3a3a3 #efefef #efefef #A3A3A3; } 

.loginButton1:focus { 
    outline: 2px solid #c1d6ef;
    outline-offset: 1px;
} 

.loginButton2 {
    margin-top: 80px;
    margin-left: 50px;
    height: 42px;
    width: 130px;
    font: inherit; 
    padding: 2px 4px; 
    background-color: #eaeaea; 
    border-width: 2px; border-style: solid; 
    border-color: #f4f4f4 #a3a3a3 #a3a3a3 #f4f4f4; 

    -webkit-border-radius: 3px; 
       -moz-border-radius: 3px; 
            border-radius: 3px;
} 
.loginButton2:hover {  background-color: #d2e3f4;  }
.loginButton2:active {  border-color: #a3a3a3 #efefef #efefef #A3A3A3; } 

.loginButton2:focus { 
    outline: 2px solid #c1d6ef;
    outline-offset: 1px;
} 

/*****************************************************************/