.qpsysub_news {
	width: 319px;
    height: 205px;
    float: left;
    background-color: white;
}

td {
	text-align: center;
	font-size: 11.3px;
	line-height: 19px;
}

td a {
	text-decoration: none;
}

